.flex {
  display: flex;
  justify-content: space-between;
  max-width: 1440px;
  margin-inline: auto;
  padding: 1rem 2rem;
  align-items: center;
}

@media (max-width: 550px) {
  .flex {
    justify-content: center;
  }
}
