.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 1rem;
  gap: 1.7rem;
}

.logo {
  width: 14rem;
}

.logo:hover {
  scale: 1.05;
  transition: 300ms linear;
}

button {
  display: none;
}

@media (max-width: 600px) {
  .header {
    flex-direction: row;
  }

  .logo {
    width: 10rem;
    margin-right: auto;
  }

  button {
    display: block;
    margin-right: auto;
  }
}
