.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 1rem;
  gap: 1.7rem;
}

.logo {
  width: 16rem;
}

.logo:hover {
  scale: 1.05;
  transition: 300ms linear;
}
